<div class="alert alert-danger" role="alert">
    <p>{{ yandex_go_delivery_token_not_works }}</p>
    <p>{{ yandex_go_delivery_token_not_works_description }}</p>
    <div class="row top-space-10">
        <div class="col-sm-12">
            <a data-source='{{ connectUrlSource }}'
               class="btn btn-primary country-related-link" target="_blank">
                {{ connect_yandex_go_delivery_button }}
            </a>
        </div>
    </div>
</div>
