<div class="h4">
<div class="page-header"><u>Длинное сообщение</u>: у месседжеров есть ограничение по количеству отправляемых символов в одном сообщении (у Telegramа - 4096, у Viberа - 7000). Данной настройкой Вы устанавливаете, что делать с сообщениями, длинее указанного числа: обрезать или разбивать на несколько сообщений.</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/trim_messages.jpg" alt="trim_messages" title="trim_messages" style="max-width: 100%;"/>
</div>
{% if help_thanks %} {{ help_thanks }} {% endif %}