<div class="h4">
  <div class="form-group">
    <div class="page-header">
      <b>Спасибо можно направлять сюда:</b><br>
      <li>Наш сайт - <a target="_blank" href="https://gixoc.ru/present/">GixOC.ru</a></li>
      <li>Яндекс.Деньги - <a target="_blank" href="https://money.yandex.ru/to/410016328220054">https://money.yandex.ru/to/410016328220054</a></li>
      <li>PayPal - <a target="_blank" href="https://paypal.me/gixoc">https://paypal.me/gixoc</a></li>
      <li>WebMoney - <a target="_blank" href="https://www.webmoney.ru/">R464264122797</a></li>
      <li>QIWI  - <a target="_blank" href="https://qiwi.com/n/GIXOC">GIXOC</a></li>
      <li>Telegram Bot - <a target="_blank" href="tg://resolve?domain=GixOC_NotificationsBot">@GixOC_NotificationsBot</a> - бот автора модуля, с возможностью заказа поддержки и с несколькими способами оплаты.</li>
      <li>Viber Bot - <a target="_blank" href="viber://pa/info?uri=gixoc_notificationsbot">@GixOC_NotificationsBot</a> - бот автора модуля, с возможностью заказа поддержки и с несколькими способами оплаты.</li>
    </div>
  </div>
</div>