<div class="h4">
<div class="page-header">Для создания бота нужен.. бот. Называется он <a href="tg://resolve?domain=BotFather">@BotFather</a>. Этот бот поможет вам создать новые боты и изменить настройки для существующих. (подробнее можно прочитать на <a href="https://core.telegram.org/bots#6-botfather">официальном сайте</a>).</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/botfarther.jpg" alt="botfarther" title="botfarther" style="max-width: 100%;"/>
<div class="page-header">1. Зайдите в программу Telegram на вашем устройстве. В поиске введите <a href="tg://resolve?domain=BotFather">@BotFather</a>.</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram1.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
<div class="page-header"><p>2. Нажмите «Начать».</p></div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram2.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
<div class="page-header">3. Выведется весь список команд по управлению ботами. Нас интересует только команда «/newbot». Нажмите на её (ну или введите вручную на клавиатуре).</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram3.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
<div class="page-header">4. Вам предложат ввести название вашего бота. Оно будет отображается в контактной информации. Например — GixOC Bot.</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram4.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
<div class="page-header">5. Далее попросят ввести короткое имя, которое будет использоваться ссылке. Оно имеет длину 5-32 символа и не чувствительно к регистру, но может содержать только латинские символы, цифры и символ подчеркивания. Оно должно заканчиваться на «Bot», например «GixOC_Bot» или «GixOCBot».</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram5.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
<div class="page-header">6. В появившемся сообщении после «Use this token to access the HTTP API:» Вы увидите необходимый токен вида 111111111:ABCDEFGz53dghKds6eBp</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_telegram6.jpg" alt="gixoc_telegram" title="gixoc_telegram" style="max-width: 100%;"/>
</div>
{% if help_thanks %} {{ help_thanks }} {% endif %}