<div class="h4">
<div class="page-header"><u>Таймаут соединения</u>: максимальное количество секунд подключения к серверам месседжеров. Не рекомендуется выставлять больше 5 секунд!</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/timeout.jpg" alt="timeout" title="timeout" style="max-width: 100%;"/>
</div>
{% if help_thanks %} {{ help_thanks }} {% endif %}