<div class="h4">
<div class="page-header">1. С начала авторизуйтесь по следующей ссылке — <a href="https://partners.viber.com/">https://partners.viber.com/</a></div>
<div class="page-header">а. В открывшейся форме введите номер вашего телефона и нажмите кнопку «Войти»</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber1.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="page-header">б. Далее вам в Viber придет одноразовый пароль, введите введите его в следующей форме и нажмите кнопку «Дальше». Попадёте в личный кабинет.</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber2.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="page-header">2. В левом меню нажмите кнопку «Создать бот»</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber3.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="page-header">Заполните открывшуюся форму:<br>
Account Image — выберете картинку бота (можно, к примеру, логотип)<br>
В поле Account Name введите название бота<br>
В поле Uri — короткое имя, которое будет использоваться ссылке<br>
Выберете Category (категорию), Subcategory (подкатегорию), Language (язык).<br>
В поле Account Description введите описание<br>
В поле Website Address — адрес сайта (не обязательно)<br>
Email Address — ваш e-mail<br>
Location — местоположение<br>
Country — страну (не обязательно)</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber4.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="page-header">4. Поставьте «галочку» согласия с условиями и нажмите «Create»</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber5.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="h3" style="color: red;">
Первую галочку ставить не нужно!
</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber7.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
<div class="page-header">5. Появится форма с необходимым токеном.</div>
<img src="view/image/gixochelp/extension_module_gixocnotifications/gixoc_viber6.jpg" alt="gixoc_viber" title="gixoc_viber" style="max-width: 100%;"/>
</div>
{% if help_thanks %} {{ help_thanks }} {% endif %}