/* scroll_images */
.manufs .img_param, .manufs .img_param_null {width: 25px;}
.optv .img_param, .optv .img_param_null {width: 25px;}
.attrb .img_param, .attrb .img_param_null {width: 25px;}
/* end scroll_images */
