/* checkbox */
#filter_vier .link_fv .checkb:before, #filter_vier .link_fv .checka:before {width: 16px; height: 18px; padding-right: 5px !important; margin-right: 4px;vertical-align: middle;}
#filter_vier .link_fv .checka:before {background: transparent url("../../../image/filter_vier/checkbox_red.png") no-repeat scroll 0px 0px;}
#filter_vier .link_fv .checkb:before {background: transparent url("../../../image/filter_vier/checkbox_red.png") no-repeat scroll -20px 0px;}
/* end checkbox */