/* delit */
#filter_vier .link_fv .checka:after {content: ""; background: transparent url("../../../image/filter_vier/action_delete.png") no-repeat scroll 0px 0px; margin: 0px 0px 0px 4px; position: relative; width: 16px; height: 16px; top: 0px; display: inline-block;}
/* end delit */