/* delit */
#filter_vier .link_fv .checka:after {content: ""; background: transparent url("../../../image/filter_vier/del_red_9.png") no-repeat scroll 0px 0px; margin: 0px 0px 0px 4px; position: relative; width: 20px; height: 11px; top: -5px; display: inline-block;}
/* end delit */